nav ul li {
	box-sizing:content-box;
	border:1px #E8E8E8 solid;
	border-radius:5px;
}

.erro {
    border-radius:5px;
}
.clear {
	height:30px;
	clear:both;
}
footer {
	background-color:#555;
	color:#fff;
	padding:20px 0 10px 0;
}